---
pageColor: "#CA0065"
pageTitle: "About"
---
{{!< base}}
<section class="height--100 width--100 flex flex__break page--about">
  <article class="width--50 height--100 bg--white flex flex--center padding--30px">
    <div class="text--welcome color--dark">
      <h1 class="font--abel">Hi there!</h1>
      <p>I’m Callum, a developer based in the UK. I've been designing and building websites for over a decade now. Yes, I feel old...</p>
      <p>I work as a software engineer at HT2 Labs in Oxford but I have also worked as a freelance consultant, developer and designer. I have also held multiple developer and sysadmin roles.</p>
      <p>I also have a number of side projects that I work on. Feel free to check them out and use anything you find fun or helpful!</p>
    </div>
  </article>
  <article class="width--50 flex flex--center padding--30px">
    {{> icon-binos}}
  </article>

</section>