---
pageColor: "#00CA00"
pageTitle: "Work"
---
{{!< base}}
<section class="height--100 padding--30px">
  <article class="flex flex--center">
    <video autoplay loop>
      <source src="https://media.giphy.com/media/3o7aTskHEUdgCQAXde/giphy.mp4" type="video/mp4">
    </video>
  </article>
</section>