<header class="flex flex--center flex--shrink padding--30px height--150px">
  <nav class="flex flex--between--center font--abel navigation">
    <a class="menu-item" href="/work.hbs">Work</a>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="80" viewBox="0 0 15.88 15.88"><g fill="none" stroke="{{pageColor}}" stroke-linecap="round" stroke-width="2"><path d="M14.53 14.55H1.85a.51.51 0 0 1-.53-.5V1.83c0-.28.24-.5.53-.5h12.68" overflow="visible" paint-order="markers stroke fill"/><path d="M13.23 5.97v3.78c0 .09-.07.16-.15.16H5.44a.15.15 0 0 1-.15-.16V5.97m3.97 0V9.9" overflow="visible" paint-order="markers stroke fill"/></g></svg>
    </a>
    <a class="menu-item" href="/about.hbs">About</a>
  </nav>
</header>
