<!DOCTYPE html>
<html lang="en" class="height--100">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}} | CW</title>

  <meta property="og:image" content="">
  <meta property="og:description" content="Yet another British full-stack developer who likes coffee...">
  <meta property="og:title" content="Callum Williams">
  <meta name="twitter:title" content="Callum Williams">

  <meta name="author" content="Callum Williams">
  <meta name="description" content="The official website of Callum Williams, a UK based developer. See what Callum is up to and read about his carreer as a web developer and software engineer.">

  <link href="https://fonts.googleapis.com/css?family=Abel|Actor" rel="preload" as="style" onload="this.rel = 'stylesheet'">
  <link href="../../node_modules/normalize.css/normalize.css" rel="preload" as="style" onload="this.rel = 'stylesheet'"/>
  <link href="../main.css" rel="preload" as="style" onload="this.rel = 'stylesheet'"/>
</head>
<body class="height--100 flex flex__direction--column flex--center--top">
  {{> header}}
  <main class="height--100 flex width--100 max-width--1200px">
    {{{body}}}
  </main>
  <footer class="height--50px"></footer>
</body>
</html>