<!DOCTYPE html>
<html lang="en" class="height--100">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{pageTitle}} | Callum Williams</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Abel|Actor" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="../../node_modules/normalize.css/normalize.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
</head>
<body class="height--100 flex flex__direction--column flex--center--top">
  {{> header}}
  <main class="height--100 flex width--100 max-width--1200px">
    {{{body}}}
  </main>
  <footer class="height--50px"></footer>
  <script src="../index.js"></script>
</body>
</html>